* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  display: block;
}
  html{
	  display:block;
  }

.v197_58 {
   width: 100%;
  height: 1024px;
  background: url("../images/Administrativos_inicio/v197_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 6px;
  overflow: hidden;
}
.v197_59 {
  width: 600px;
  height: 843px;
  background: url("../images/Administrativos_inicio/v197_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 74px;
  overflow: hidden;
}
.v197_60 {
  width: 100%;
  height: 719px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 154px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v197_62 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 389px;
  left: 525px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v197_63 {
  width: 327px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 395px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v197_64 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 525px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v194_41 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 641px;
  left: 655px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v197_66 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 525px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v197_67 {
  width: 317px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 518px;
  left: 569px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v263_98 {
  width: 100%;
  height: 79px;
  background: url("../images/Administrativos_inicio/v263_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_99 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v363_165 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 1014px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v235_173 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 454px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_103 {
  width: 217px;
  height: 79px;
  background: url("../images/Administrativos_inicio/v263_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#link{
  text-decoration: none;
}