* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v193_20 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_2 {
  width: 1186px;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v239_6 {
  width: 14px;
  color: rgba(201,201,201,1);
  position: absolute;
  top: 362px;
  left: 1205px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 23px;
  opacity: 1;
  text-align: left;
}
.v263_253 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 531px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30.694px;
  opacity: 1;
  text-align: left;
}
.v263_254 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 698px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30.694px;
  opacity: 1;
  text-align: left;
}
.v263_255 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 949px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30.694px;
  opacity: 1;
  text-align: left;
}
.v263_256 {
  width: 146px;
  color: rgba(65,57,57,0.800000011920929);
  position: absolute;
  top: 452px;
  left: 496px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30.694px;
  opacity: 1;
  text-align: left;
}
.v263_257 {
  width: 146px;
  color: rgba(65,57,57,0.800000011920929);
  position: absolute;
  top: 452px;
  left: 686px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30.694px;
  opacity: 1;
  text-align: left;
}
.v263_258 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 907px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 27.283px;
  opacity: 1;
  text-align: left;
}
.v263_259 {
  width: 351px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 508px;
  left: 895px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 27.283px;
  opacity: 1;
  text-align: left;
}
.v263_260 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 263px;
  left: 476px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 34.104px;
  opacity: 1;
  text-align: left;
  font-style: normal;
}
.v263_261 {
  height: 736px;
  background: url("../images/Alumnos_Mis cursos_Asistencia/v263_261.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_262 {
  width: 159px;
  height: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_263 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_266 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_267 {
  width: 269px;
  height: 108px;
  background: url("../images/Alumnos_ Calificaciones/Rectangle 24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 162px;
  overflow: hidden;
}
.v299_227 {
  width: 100%;
  height: 79px;
  background: url("../images/Alumnos_Mis cursos_Asistencia/v299_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v299_228 {
  width: 1082px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v299_229 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v299_230 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 886px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v299_231 {
  width: 219px;
  height: 79px;
  background: url("../images/Alumnos_ Calificaciones/Logo baner itla 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#link{
  text-decoration: none;
}