* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v229_33 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v237_312 {
  width: 100%;
  height: 747px;
  background: url("../images/Docentes_Mis cursos_Miembros/v237_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 127px;
  overflow: hidden;
}
.v237_302 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v237_303 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 363px;
  opacity: 1;
  text-align: left;
}
.v237_305 {
  height: 736px;
  background: url("../images/Docentes_Mis cursos_Miembros/v237_305.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 324px;
  border: 1px solid rgba(190,190,190,1);
}
.v237_306 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 65px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v237_307 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 65px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v237_309 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 223px;
  left: 65px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v237_310 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 35px;
  overflow: hidden;
}
.v237_311 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 158px;
  left: 65px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v229_80 {
  width: 54px;
  height: 37px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 490px;
  overflow: hidden;
}
.v229_81 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_88 {
  width: 54px;
  height: 38px;
  background: url("../images/Docentes_Mis\ cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 490px;
  overflow: hidden;
}
.v229_89 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 582px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_90 {
  width: 54px;
  height: 39px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 627px;
  left: 490px;
  overflow: hidden;
}
.v229_91 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 632px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_92 {
  width: 54px;
  height: 39px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 490px;
  overflow: hidden;
}
.v229_93 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 685px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_94 {
  width: 54px;
  height: 37px;
  background: url("../images/Docentes_Mis\ cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 490px;
  overflow: hidden;
}
.v229_95 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 736px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_96 {
  width: 54px;
  height: 38px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 490px;
  overflow: hidden;
}
.v229_97 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 788px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_98 {
  width: 54px;
  height: 38px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 490px;
  overflow: hidden;
}
.v229_99 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 839px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_82 {
  width: 54px;
  height: 37px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 490px;
  overflow: hidden;
}
.v229_83 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 427px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_84 {
  width: 54px;
  height: 38px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 490px;
  overflow: hidden;
}
.v229_85 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v229_86 {
  width: 54px;
  height: 39px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 490px;
  overflow: hidden;
}
.v229_87 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 530px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v263_152 {
  width: 100%;
  height: 79px;
  background: url("../images/Docentes_Mis cursos_Miembros/image 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_153 {
  width:  100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_154 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 950px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_156 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_157 {
  width: 217px;
  height: 79px;
  background: url("../images/Docentes_Listas/v263_175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
