* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: url("../images/index/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_6 {
  width: 100px;
  height: 843px;
  background: url("../images/index/v22_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 35;
  position: absolute;
  top: 124px;
  left: 74px;
  overflow: hidden;
}
.v6_3 {
  width: 85%;
  height: 700px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 100px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v6_8 {
  width: 717px;
  height: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 298px;
  left: 300px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v6_10 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 450px;
  overflow: hidden;
}
.v6_13 {
  width: 235px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 453px;
  left: 535px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_11 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 450px;
  overflow: hidden;
}
.v194_38 {
  width: 333px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 720px;
  left: 486px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_9 {
  width: 400px;
  height: 60px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 450px;
  overflow: hidden;
}
.v6_12 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 575px;
  left: 535px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v235_49 {
  width: 100%;
  height: 800px;
  background: url("../images/index/v235_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 100;
  position: absolute;
  top: 63px;
  left: 6px;
  overflow: hidden;
}
.v235_50 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 232px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v235_51 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 900px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v235_52 {
  width: 167px;
  height: 42px;
  color: rgba(0,0,0,1);
  height: 42px;
  position: absolute;
  top: 13px;
  left: 635px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;

}
.v235_53 {
  width: 101px;
  height: 50px;
  font-weight:500;
  line-height: 5px;
  color: rgba(0,0,0,1);
  height: 42px;
  position: absolute;
  top: 38px;
  left: 380px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v235_54 {
  width: 217px;
  height: 80px;
  background: url("../images/index/v235_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 90px;
  overflow: hidden;
}
