* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_16 {
  width: 100%;
  height: 1024px;
  background: url("../images/Login portales administrativos/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_17 {
  width: 100%;
  height: 719px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 154px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v6_37 {
  width: 459px;
  height: 58px;
  background: url("../images/Login portales administrativos/v6_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 791px;
  overflow: hidden;
}
.v6_34 {
  width: 459px;
  height: 58px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_35 {
  width: 183px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 138px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v6_36 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 596px;
  left: 954px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_44 {
  width: 118px;
  height: 24px;
  background: url("../images/Login portales administrativos/v6_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 599px;
  left: 791px;
  overflow: hidden;
}
.v6_32 {
  width: 22px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_33 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_30 {
  width: 459px;
  height: 58px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 791px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_29 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 489px;
  left: 791px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_28 {
  width: 459px;
  height: 58px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 403px;
  left: 791px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_27 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 791px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_20 {
  width: 391px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 283px;
  left: 791px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v6_39 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 195px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_38 {
  width: 392px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 195px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v235_218 {
  width: 100%;
  height: 656px;
  background: url("../images/Login portales administrativos/v235_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 131px;
  overflow: hidden;
}
.v235_214 {
  width: 100%;
  height: 656px;
  background: url("../images/Login portales administrativos/v235_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v235_217 {
  width: 236px;
  height: 40px;
  background: url("../images/Login portales administrativos/v235_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 616px;
  left: 63px;
  overflow: hidden;
}
.v235_211 {
  width: 40px;
  height: 40px;
  background: url("../images/Login portales administrativos/v235_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v235_209 {
  width: 40px;
  height: 40px;
  background: url("../images/Login portales administrativos/v235_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v235_210 {
  width: 40px;
  height: 40px;
  background: url("../images/Login portales administrativos/v235_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
.v235_212 {
  width: 40px;
  height: 40px;
  background: url("../images/Login portales administrativos/v235_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  overflow: hidden;
}
.v235_213 {
  width: 40px;
  height: 40px;
  background: url("../images/Login portales administrativos/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 196px;
  overflow: hidden;
}
.v235_61 {
  width: 100%;
  height: 83px;
  background: url("../images/Login portales administrativos/v235_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v235_62 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 101px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v235_63 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 896px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v235_64 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 567px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v235_65 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 304px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v235_66 {
  width: 217px;
  height: 83px;
  background: url("../images/Login portales administrativos/v235_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v235_216 {
  width: 287px;
  height: 107px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 53px;
  overflow: hidden;
}
.v263_8 {
  width: 100%;
  height: 79px;
  background: url("../images/Login portales administrativos/v263_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_9 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_10 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 899px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_11 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 570px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_12 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 307px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_13 {
  width: 217px;
  height: 79px;
  background: url("../images/Login portales administrativos/Logo baner itla 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
