* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_11 {
  width: 100%;
  height: 1832px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_26 {
  width: 1186px;
  height: 1452px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 127px;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_47 {
  width: 358px;
  height: 239px;
  background: url("../images/Nosotros/v32_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1311px;
  left: 881px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v29_43 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1261.76px;
  left: 180px;
  opacity: 1;
  height: 333px;
  text-align: justified;
}
.v32_44 {
  width: 358px;
  height: 214px;
  background: url("../images/Nosotros/v32_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1037px;
  left: 881px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v29_34 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1034px;
  left: 180px;
  opacity: 1;
  height: 333px;
  text-align: justified;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justified;

}
.v32_46 {
  width: 358px;
  height: 277px;
  background: url("../images/Nosotros/v32_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 881px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v29_33 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 636px;
  left: 180px;
  opacity: 1;
  height: 333px;
  text-align: justified;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justified;

}
.v46_2 {
  width: 358px;
    height: 277.26px;
    background: url(../images/Nosotros/v46_2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 350.74px;
    left: 881px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.v29_23 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 180px;
  opacity: 1;
  height: 333px;
  text-align: justified;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: justified;

}
.v263_14 {
  width: 100%;
  height: 79px;
  background: url("../images/Nosotros/v263_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_15 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_16 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 899px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_17 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 570px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_18 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 307px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_19 {
  width: 217px;
  height: 79px;
  background: url("../images/Nosotros/v263_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
