* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v220_55 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_340 {
  width: 100%;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_341 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_342 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 789px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_343 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 417px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_344 {
  width: 217px;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_186 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_464 {
  width: 650px;
  height: 550px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 519px;
  overflow: hidden;
}
.v263_465 {
  width: 265px;
  height: 195px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_466 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v263_467 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v263_468 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 142px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v263_469 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 386px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_470 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v263_471 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v263_472 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v263_473 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 0px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_474 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v263_475 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v263_476 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v263_477 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 386px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_478 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v263_479 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v263_480 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v263_481 {
  height: 736px;
  background: url("../images/Supervision_Alumnos_Cursos/v263_481.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_482 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_487 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
