* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v223_65 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_240 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v239_241 {
  width: 467px;
  height: 688px;
  background: url("../images/Supervision_Alumnos_Miembros/v239_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 539px;
  overflow: hidden;
}
.v223_131 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_132 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v223_134 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_135 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v223_138 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_139 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 0px;
  overflow: hidden;
}
.v223_154 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_155 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 0px;
  overflow: hidden;
}
.v223_157 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 492px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_158 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 0px;
  overflow: hidden;
}
.v223_161 {
  width: 433px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 608px;
  left: 34px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v223_162 {
  width: 91px;
  height: 89px;
  background: url("../images/Supervision_Alumnos_Miembros/v223_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 0px;
  overflow: hidden;
}
.v263_345 {
  width: 100%;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Miembros/v263_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_346 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_347 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 789px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_348 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 417px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_349 {
  width: 217px;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Miembros/v263_349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_374 {
  height: 736px;
  background: url("../images/Supervision_Alumnos_Miembros/v263_374.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_375 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_376 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_379 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_380 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
