* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v223_187 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_355 {
  width: 100%;
  height: 897px;
  background: url("../images/Supervision_Pagos_Cursos/v263_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 127px;
  overflow: hidden;
}
.v239_222 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_356 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 105px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_357 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 790px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_358 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 418px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_359 {
  width: 217px;
  height: 79px;
  background: url("../images/Supervision_Pagos_Cursos/v263_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v239_221 {
  width: 650px;
  height: 550px;
  background: url("../images/Supervision_Pagos_Cursos/v239_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 519px;
  overflow: hidden;
}
.v239_223 {
  width: 264px;
  height: 195px;
  background: url("../images/Supervision_Pagos_Cursos/v239_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_224 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v239_225 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v239_226 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 142px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v239_227 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Pagos_Cursos/v239_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 386px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_228 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v239_229 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v239_230 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v239_231 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Pagos_Cursos/v239_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 0px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_232 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v239_233 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v239_234 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v239_235 {
  width: 264px;
  height: 199px;
  background: url("../images/Supervision_Pagos_Cursos/v239_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 386px;
  box-shadow: 0px 2.9990899562835693px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_236 {
  width: 264px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
.v239_237 {
  width: 264px;
  height: 54px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v239_238 {
  width: 264px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v263_409 {
  height: 736px;
  background: url("../images/Supervision_Pagos_Cursos/v263_409.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_410 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_415 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
