* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v220_73 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_242 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_381 {
  width: 772px;
  height: 436px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v263_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 482px;
  overflow: hidden;
}
.v239_243 {
  width: 213px;
  height: 236px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  box-shadow: 0px 2.8075661659240723px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_244 {
  width: 213px;
  height: 236px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v239_245 {
  width: 213px;
  height: 185px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_246 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 185px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v239_343 {
  width: 274px;
  height: 135px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 0px;
  box-shadow: 0px 2.8075661659240723px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v223_165 {
  width: 266px;
  height: 135px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v223_166 {
  width: 266px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v223_166.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 7px;
  border: 0.7018915414810181px solid rgba(0,0,0,1);
}
.v223_168 {
  width: 266px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v223_168.png");
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 7px;
  border: 0.7018915414810181px solid rgba(0,0,0,1);
}
.v223_169 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 45px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v223_170 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v223_171 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 124px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v223_173 {
  width: 71px;
  color: rgba(65,57,57,0.800000011920929);
  position: absolute;
  top: 84px;
  left: 157px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v239_296 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_297 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 131px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_298 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 417px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_299 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 346px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_300 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 202px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_301 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 276px;
  left: 334px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_302 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 412px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_303 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 564px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_304 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 646px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_305 {
  width: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 741px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_306 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 488px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_307 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 423px;
  overflow: hidden;
}
.v239_308 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_309 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_310 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_311 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_312 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_313 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 423px;
  overflow: hidden;
}
.v239_314 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_315 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_316 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_317 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_318 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_319 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 426px;
  overflow: hidden;
}
.v239_320 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_321 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_322 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_323 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_324 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_325 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 423px;
  overflow: hidden;
}
.v239_326 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_327 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_328 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_329 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_330 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_331 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 426px;
  overflow: hidden;
}
.v239_332 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_333 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_334 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_335 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_336 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_337 {
  width: 346px;
  height: 19px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v239_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 426px;
  overflow: hidden;
}
.v239_338 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_339 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 146px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_340 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 235px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_341 {
  width: 9px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 337px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v239_342 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 70px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v263_350 {
  width: 100%;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v263_350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_351 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_352 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 789px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_353 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 417px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_354 {
  width: 217px;
  height: 79px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v263_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_382 {
  height: 736px;
  background: url("../images/Supervision_Alumnos_Calificaciones/v263_382.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_383 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_384 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_387 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_388 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}

#link{
  text-decoration: none;
}