* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v186_2 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_56 {
  width: 100%;
  height: 79px;
  background: url("../images/v263_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_57 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v235_131 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v257_2 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 886px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_61 {
  width: 217px;
  height: 79px;
  background: url("../images/v263_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_560 {
  width: 100%;
  height: 745px;
  background: url("../images/v263_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 127px;
  overflow: hidden;
}
.v263_561 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_562 {
  width: 231px;
  height: 170px;
  background: url("../images/v263_562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_563 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_564 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_565 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_566 {
  width: 231px;
  height: 174px;
  background: url("../images/v263_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_567 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_568 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_569 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_570 {
  width: 231px;
  height: 174px;
  background: url("../images/v263_570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_571 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_572 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_573 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_574 {
  width: 231px;
  height: 174px;
  background: url("../images/v263_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_575 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_576 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_577 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_578 {
  width: 231px;
  height: 174px;
  background: url("../images/v263_578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_579 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_580 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_581 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 1px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_582 {
  width: 231px;
  height: 174px;
  background: url("../images/v263_582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v263_583 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_584 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_585 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_586 {
  height: 736px;
  background: url("../images/v263_586.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_587 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_588 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_591 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_592 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
