* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v186_2 {/*Inicio*/
  width: 1440px;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_56 {/*Banner inicio salir completo*/
  width: 100%;
  height: 79px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 126px;
  overflow: hidden;
}
.v263_57 { /*tira inicio pagos*/
  width: 1082px;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  border-top: 63px;
  right: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v235_131 {/*Inicio*/
  width: 101px;
  height: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  line-height: normal;
}
.v257_2 { /*Salir texto estado: listo */
  width: 101px;
  height: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 900px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  line-height: normal;
}
.v263_61 {/*Logo ITLA estado: listo */
  width: 219px;
  height: 79px;
  background: url("../images/Logo\ baner\ itla\ 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border-top: 62px;
  border-left: 128px;
  border-right: 969px;
  overflow: hidden;
}
.v263_560 {
  width: 100%;
  height: 745px;
  background: url("../images/v263_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 127px;
  overflow: hidden;
}
.v263_561 { /* Rectángulo central estado: listo*/
  width: 1186px;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  border-top: 127px;
  border-left: 127px;
  border-right: 200px;
  border-bottom: 63px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_562 {/*Imágen curso 1*/
  width: 231.264px;
  height: 160px;
  background: url("../images/Rectangle\ 36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_563 {/*Puede ser borrado y no pasa nada*/
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_564 {/*Barra azul de curso 1*/
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_565 {/*Curso 1 texto*/
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_566 {/*Curso abajo a la izquierda*/
  width: 231.264px;
  height: 160px;
  background: url("../images/Rectangle\ 37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_567 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_568 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_569 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_570 {/*Curso en medio derecha*/
  width: 231px;
  height: 160px;
  background: url("../images/Rectangle\ 38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_571 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_572 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_573 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_574 {/*Curso inferior derecha*/
  width: 231px;
  height: 160px;
  background: url("../images/Rectangle\ 39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_575 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_576 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_577 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_578 {/*Curso superior derecha*/
  width: 231px;
  height: 160px;
  background: url("../images/Rectangle\ 40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 794px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_579 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_580 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_581 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 1px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_582 {/*Curso medio izquierda*/
  width: 231px;
  height: 160px;
  background: url("../images/Rectangle\ 35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 394px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 15.7px;
}
.v263_583 {
  width: 231px;
  height: 129px;
  background: rgba(217,217,217,1);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.v263_584 {
  width: 231px;
  height: 47px;
  background: rgba(53,93,151,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v263_585 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v263_586 {
  height: 736px;
  background: url("../images/v263_586.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_587 {
  width: 159px;
  height: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_588 {
  width: 214px;
  height: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_591 {
  width: 239px;
  height: 31px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-size: 25px;
  opacity: 1;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
.v263_592 {/*Imágen izquierda cursos*/
  width: 269px;
  height: 108px;
  background: url("../images/Rectangle\ 24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  box-shadow: 0px 2.6205642223358154px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
