* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v221_2 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v237_299 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_146 {
  width: 100%;
  height: 79px;
  background: url("../images/v263_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_147 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_148 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 950px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_150 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_151 {
  width: 217px;
  height: 79px;
  background: url("../images/v263_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v263_232 {
  height: 736px;
  background: url("../images/v263_232.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_233 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_234 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_235 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 569px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_237 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_238 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
.v297_3 {
  width: 54px;
  height: 37px;
  background: url("../images/v297_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 490px;
  overflow: hidden;
}
.v297_4 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_5 {
  width: 54px;
  height: 38px;
  background: url("../images/v297_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 490px;
  overflow: hidden;
}
.v297_6 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 582px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_7 {
  width: 54px;
  height: 39px;
  background: url("../images/v297_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 627px;
  left: 490px;
  overflow: hidden;
}
.v297_8 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 632px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_9 {
  width: 54px;
  height: 39px;
  background: url("../images/v297_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 490px;
  overflow: hidden;
}
.v297_10 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 685px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_11 {
  width: 54px;
  height: 37px;
  background: url("../images/v297_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 490px;
  overflow: hidden;
}
.v297_12 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 736px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_13 {
  width: 54px;
  height: 38px;
  background: url("../images/v297_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 490px;
  overflow: hidden;
}
.v297_14 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 788px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_15 {
  width: 54px;
  height: 38px;
  background: url("../images/v297_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 835px;
  left: 490px;
  overflow: hidden;
}
.v297_16 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 839px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_17 {
  width: 54px;
  height: 37px;
  background: url("../images/v297_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 424px;
  left: 490px;
  overflow: hidden;
}
.v297_18 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 427px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_19 {
  width: 54px;
  height: 38px;
  background: url("../images/v297_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 490px;
  overflow: hidden;
}
.v297_20 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_21 {
  width: 54px;
  height: 39px;
  background: url("../images/v297_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 490px;
  overflow: hidden;
}
.v297_22 {
  width: 425px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 530px;
  left: 561px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v297_23 {
  width: 36px;
  height: 532px;
  background: url("../images/v297_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 733px;
  overflow: hidden;
}
.v297_34 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v297_35 {
  width: 36px;
  height: 532px;
  background: url("../images/v297_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 827px;
  overflow: hidden;
}
.v297_46 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v297_47 {
  width: 36px;
  height: 532px;
  background: url("../images/v297_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 934px;
  overflow: hidden;
}
.v297_58 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v297_59 {
  width: 36px;
  height: 532px;
  background: url("../images/v297_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 1041px;
  overflow: hidden;
}
.v297_70 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v297_71 {
  width: 36px;
  height: 533px;
  background: url("../images/v297_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 327px;
  left: 1134px;
  overflow: hidden;
}
.v297_82 {
  width: 36px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
