* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v193_49 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v239_38 {
  width: 100%;
  height: 745px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_301 {
  width: 794px;
  height: 502px;
  background: url("../images/v263_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 481px;
  overflow: hidden;
}
.v193_69 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v193_70 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 67px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v193_71 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 119px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v193_72 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 163px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v193_73 {
  width: 107px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v193_74 {
  width: 158px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 259px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_76 {
  width: 468px;
  height: 323px;
  background: rgba(252,252,252,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 326px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.v193_83 {
  width: 251px;
  color: rgba(0,209,255,1);
  position: absolute;
  top: 205px;
  left: 453px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v193_75 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 69px;
  left: 359px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v193_78 {
  width: 468px;
  background: url("../images/v193_78.png");
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 326px;
  border: 0.7450796961784363px solid rgba(0,0,0,1);
}
.v193_80 {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 124px;
  left: 359px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v193_82 {
  width: 468px;
  background: url("../images/v193_82.png");
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 326px;
  border: 0.7450796961784363px solid rgba(0,0,0,1);
}
.v193_84 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 359px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v193_85 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 271px;
  left: 656px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v193_86 {
  width: 201px;
  height: 38px;
  background: rgba(255,48,197,1);
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 341px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v193_88 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 324px;
  left: 373px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v193_87 {
  width: 201px;
  height: 38px;
  background: rgba(255,48,197,1);
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 575px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v193_89 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 324px;
  left: 623px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v193_90 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v193_92 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_93 {
  width: 308px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 473px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_94 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 406px;
  font-family: Poppins;
  font-weight: Light Italic;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_95 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 473px;
  left: 406px;
  font-family: Poppins;
  font-weight: Light Italic;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_96 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 428px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_98 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 473px;
  left: 510px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v193_81 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 704px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v263_328 {
  height: 736px;
  background: url("../images/v263_328.png");
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 451px;
  border: 1px solid rgba(190,190,190,1);
}
.v263_329 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_330 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 502px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_333 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 192px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_334 {
  width: 269px;
  height: 108px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 162px;
  overflow: hidden;
}
.v299_217 {
  width: 100%;
  height: 79px;
  background: url("../images/v299_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v299_218 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v299_219 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v299_220 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 886px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v299_221 {
  width: 217px;
  height: 79px;
  background: url("../images/v299_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
