* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v46_3 {
  width: 100%;
  height: 1024px;
  background: rgba(81,141,131,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v235_207 {
  width: 100%;
  height: 742px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 127px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v206_2 {
  width: 79px;
  height: 77px;
  background: url("../images/v206_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 158px;
  overflow: hidden;
}
.v206_3 {
  width: 79px;
  height: 77px;
  background: url("../images/v206_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left:278px;
  overflow: hidden;
}
.v206_4 {
  width: 79px;
  height: 77px;
  background: url("../images/v206_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left:388px;
  overflow: hidden;
}
.v206_5 {
  width: 79px;
  height: 77px;
  background: url("../images/v206_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left:508px;
  overflow: hidden;
}
.v206_6 {
  width: 79px;
  height: 77px;
  background: url("../images/v206_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 822px;
  left:641px;
  overflow: hidden;
}
.v50_21 {
  width: 698px;
  height:569px;
  background: url("../images/v206_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 253px;
  left: 576px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_18 {
  width: 375px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 246px;
  left:161px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v263_20 {
  width: 100%;
  height: 79px;
  background: url("../images/v263_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 128px;
  overflow: hidden;
}
.v263_21 {
  width: 100%;
  height: 78px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 104px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v263_22 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 899px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v263_23 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 570px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_24 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 307px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v263_25 {
  width: 217px;
  height: 79px;
  background: url("../images/v263_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
